<!DOCTYPE html>
<html>
<head>
    <title>Website Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/video.css') }}">
   
</head>
<body>
    <header>
        <div class="logo">GPK-IT</div>
        <nav>
            <ul>
                <!--<li><a href="/">Home</a></li>-->
                <li><a href="/logout">Logout</a></li>
                <!--<li><a href="/start">Upload</a></li>-->
                <!-- <li><a href="#">Registration</a></li>
                <li><a href="#">Login</a></li> -->
            </ul>
        </nav>
    </header>
    <main>
        <h1> Your request id: {{ request_id }}</h1>
        <h2> Status: {{ status }}</h2>
    </main>