<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/welcome.css') }}">
	<title>Website Template</title>
</head>
<body>
	<header>
		<div class="logo">GPK-IT</div>
        <nav>
            <ul>
				<li><a href="/start">Upload</a></li>
                <li><a href="/signup">Registration</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
	</header>
	<div class="welcome">
		<h2>Welcome to our website</h2>
		<p>There you can response oblects in video from the .bag</p>
	</div>
</body>
</html>